APP_NAME=A-Racing
APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_TIMEZONE=Europe/Stockholm
APP_LOCALE=sv

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=aracing
DB_USERNAME=root
DB_PASSWORD=
